@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'custom';

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;

}

main {
  flex: 1; // prend tout l'espace disponible
  margin-bottom: 250px;
}


footer .footer{
  padding: 1rem;
  bottom: 0;
  width: 100;

}
p{
    font-family: $font-family-serif;
    font-size: 24px;
}

.hero-scene{
    margin-bottom: 16px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/Bigtitle1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0.3);
        z-index: -1; /* pour que ça reste en arrière-plan */
    }
    *{
        position: relative;
    }
}

.hero-scene-content{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-justify{
    text-align: justify;
    text-align: center;
}
.center-text.text-primary {
  text-align: center;
}

.image-card{
    position: relative;
  &:hover{
    .titre-image,
    .action-image-buttons{
        opacity: 1;
        
    }
    img{
        filter: brightness(0.3);

    }

  } 
  img{
    transition: all 0.3s;
  }
  
  .titre-image{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.3s;
  }

  .action-image-buttons{
    position: absolute;
    top:0%;
    left:0%;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s;
  }


}

//Login
/* Formulaire animé et responsive */
form {
  transition: transform 0.3s, box-shadow 0.3s;
}
form:focus-within {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-label{
  color: $primary;
}

.btn-primary{
  text-align: center;

}